#main {
    height: 100%;
	  margin: 0;
	  display: flex;
	  flex-direction: row;
	  align-items: stretch;
    transition: margin-left .5s;
}

#worldmap {
    width: 100vw;
    height: 100vh;
}

#sidebar {
    height: 100%;
    width: 400px;
    margin-left: -400px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
	  display: flex;
	  flex-direction: row;
    align-content: center;
    justify-content: center;
}

#sidebar_content {
    display: flex;
    flex-direction: column;
}

#icon {
    display: flex;
    justify-content: center;
    align-content: center;
}

#clock {
  text-align: center;
  font-size: xx-large;
  font-family: 'Orbitron', sans-serif;
}

.datamaps-bubble {
  cursor: pointer;
}